@import url('https://fonts.googleapis.com/css2?family=Abel&family=Abyssinica+SIL&family=Alumni+Sans+Collegiate+One:ital@1&family=Dancing+Script:wght@400;500;700&family=Libre+Baskerville:ital@0;1&family=Merriweather:ital,wght@1,300&family=Playfair+Display:ital,wght@0,500;0,600;1,400;1,700&family=Poppins:wght@300;400&family=Roboto+Condensed:ital@1&display=swap');
/* font-family: 'Abel', sans-serif;
font-family: 'Abyssinica SIL', serif;
font-family: 'Alumni Sans Collegiate One', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Libre Baskerville', serif;
font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */
*{
    padding:0;
    margin:0;
}

.containers{
    width: 100vw;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1603127047787-f7919173149c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZGFyayUyMGxhbmRzY2FwZXxlbnwwfHwwfHw%3D&w=1000&q=80");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.containers .login-box{
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: 2px white solid;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    padding: 25px 25px 45px 25px;
    border-radius:15px;
}
h2{
    color: white;
    font: 36px 'Dancing Script', cursive;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

h2::before{
    position: absolute;
    content: '';
    width: 225px;
    height: 5px;
    border-radius: 50px;
    background: linear-gradient(45deg, rgb(33, 104, 236), rgb(243, 131, 33));
    bottom: -8px;
}

.login::before{
    width: 80px;
}

.login-box .input-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    position: relative;
}
.login-box .input-box input[type='text'],
.login-box .input-box input[type='email'],
.login-box .input-box input[type='password']{
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background: transparent;
    margin: 16px 0px;
    outline: none;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #ffffff;
}
.login-box .input-box label{
    position: absolute;
    left: 0;
    top: 12px;
    font: 16px 'Playfair Display', serif;
    color: white;
    pointer-events: none;
    transition: 0.2s;
}

.login-box .input-box input:focus + label,
.login-box .input-box input:valid + label{
    top: -7px;
    font-size: 14px;
}

.login-box .input-box input[type='email']:focus + label{
    top: -7px;
    font-size: 14px;
}

.login-box .input-box .password-checkbox{
    width: 100%;
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
}

.login-box .input-box .password-checkbox p{
    margin-left: 5px;
}

.login-box .submit-button{
    width: 100%;
    background: linear-gradient(313deg, rgb(135,129,255), rgb(255 110 110), rgb(243, 243, 65));
    border:none;
    cursor: pointer;
    height: 30px;
    border-radius: 7px;
    margin-top: 10px;
}

.login-box .submit-button:active{
    transform: scale3d(0.9,0.9,0.9);
}

.login-box .login-link{
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.login-box .login-link a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.login-box .login-link a:hover{
    color: rgba(255, 255, 255, 0.432);
    text-decoration: underline;
}

.err{
    color: red;
    margin-bottom: 5px;
}